<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
    <h2>Editing Credential</h2>
</div>

<%= render 'form', credential: @credential %>

<%= link_to 'Show', @credential %> |
<%= link_to 'Back', credentials_path %>
